.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 700px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.example-viewport {
  height: 750px;
  width: 98%;
  border: 1px solid black;
}
.mat-card-header-text {
  width: 100%;
  height: 100%;
  text-align: center; 
}

.example-item {
  height: 150px;
}