<b> Published by period </b>
<p></p>

<table style="width:90%;"  >
    <tr>
        <td  colspan="4" style="align-content: center">
          <input matinput placeholder="type publisher name" type="text" style="width:90%" /></td>
      </tr>
      <tr>
        <td colspan="4"> &nbsp;</td>
        </tr>    
  <tr>


    <td style="width: 2%">&nbsp;</td>
    <td  style="width: 96% ">
      <div id='sliderPublish' style="width: auto;"></div>
    </td>
    <td  style="width: 2%">&nbsp;</td>

  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
  <tr>
    <td style="width:2%">&nbsp;</td>
    <td style="width:20%"> From :<input type="text" id="publishMin" disabled="disabled" />
    </td>
    
    <td style="width: 58% "> To : <input type="text" id="publishMax" disabled="disabled" /> </td>

  </tr>


<tr>
  <td colspan="4"></td>
</tr>
<tr>


    <td style="width: 2%">&nbsp;</td>
    <td  style="width: 96% ">
        <input type="text" placeholder="Pick Country" matInput >
        
    </td>
    <td  style="width: 2%">&nbsp;</td>

  </tr>
  <tr>
      <td colspan="4"></td>
    </tr>
  <tr>


      <td style="width: 2%">&nbsp;</td>
      <td  style="width: 96% ">
          <input type="text" placeholder="type City" matInput >
          
      </td>
      <td  style="width: 2%">&nbsp;</td>
  
    </tr>

</table>
