<p>
{{name}}
</p>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox class="checklist-leaf-node" title="{{node.item}} {{node.hdNumber}}"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="todoLeafItemSelectionToggle(node)">
                  
                  <span matBadge="{{node.hdNumber}}"  matBadgeOverlap="false" title="{{node.item}} {{node.hdNumber}}" >  {{node.item}} </span> 
                </mat-checkbox>
  </mat-tree-node>

  
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">
                
                  <span matBadge="{{node.hdNumber}}"  matBadgeOverlap="false" title="{{node.item}} {{node.hdNumber}}" >  {{node.item}} </span> 
                </mat-checkbox>
  </mat-tree-node>
</mat-tree>